body {
  font-family: sans-serif;
  margin: 0;
  padding: 6.5em 3em;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  color: #eeeeee;
  background-color: #333333;
  padding: 0.5em 3em;
}

#navbar h1 {
  float: left;
  color: #2c2c2c;
  opacity: 0.8;
  margin: 0.2em 0;
  padding: 0;
  white-space: nowrap;
  text-shadow: -1px -1px 1px rgba(255,255,255,0.13), 1px 1px 1px rgba(0,0,0,0.9);
  transition: opacity 0.3s;
}

#navbar:hover h1 {
  opacity: 1.0;
}

#links {
  position: absolute;
  right: 3em;
  list-style: none;
}

#links a {
  display: block;
  padding: 3px 6px;
  border-radius: 3px;
  color: #888888;
  text-decoration: none;
  outline: none;
}

#links a:hover {
  background-color: #4080b0;
  color: #eeeeee;
}

#query-xpath {
  font-size: 150%;
  width: calc(100% - 10.5em);
  padding: 4px 10px 3px;
  border: 1px solid #cccccc;
  border-radius: 0.1em;
}

#query-xpath:focus {
  background-color: #ffffdd;
}

#buttons {
  display: inline-block;
  vertical-align: bottom;
}

.btn {
  font-size: 130%;
  background-color: #062873;
  color: #eeeeee;
  border: none;
  border-radius: 0.2em;
  font-weight: bold;
  padding: 5px 7px;
  margin-top: 0.2em;
  cursor: pointer;
}

#registered-namespaces {
  margin: 1em 0;
}

#message-box {
  margin: 2.4em 0;
  border-radius: 0.2em;
}

#message-box.error,
#file-parser-error {
  padding: 0.5em 1em;
  border: 1px solid #ddaaaa;
  background-color: #ffcccc;
  color: #aa3333;
}

#message-box.success {
  padding: 0.5em 1em;
  border: 1px solid #aaddaa;
  background-color: #ccffcc;
  color: #227722;
}

.hidden {
  display: none;
}

#file-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.no-scroll {
  overflow: hidden;
}

#file-dialog .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .55);
}

#file-dialog-content {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  text-align: initial;
  width: auto;
  margin: 10vh auto;
  padding: 0.2em 1.2em 1.0em;
  max-height: 80vh;
  max-width: 80vw;
  background: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.1em;
  outline: none;
}

#file-selector-input {
  display: block;
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0.01;
}

#file-selector-filename {
  margin-left: 1.2em;
  color: #888888;
  font-style: italic;
}

#file-dialog label {
  display: block;
}

#file-parser-error {
  font-family: monospace;
  font-size: 90%;
  border-radius: 0.3em;
  margin-bottom: 1em;
}

.dialog-buttons {
  text-align: right;
  padding: 0.8em 0 0.2em;
}

.btn:disabled {
  background-color: #666666;
  color: #cccccc;
}

#doc-tree-wrapper {
  position: relative;
}

#change-file-btn {
  display: inline-block;
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #062873;
  color: #eeeeee;
  border: none;
  border-radius: 0.15em;
  font-size: 90%;
  font-weight: bold;
  padding: 5px 7px;
  cursor: pointer;
}

#change-file-btn::before {
  content: "✚";
  display: inline-block;
  padding: 0;
  width: 1.0em;
  height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  line-height: 1.3;
  transition: width 0.1s ease-in-out;
}

#change-file-btn:hover::before {
  content: "Change XML File";
  width: 9.5em;
}

.no-source,
.no-ns {
  color: #888888;
  font-style: italic;
}

.ns-table {
  border-collapse: collapse;
}

.ns-table th {
  background-color: #666666;
  color: #dddddd;
  padding: 2px 8px;
  border: 1px solid #ffffff;
}

.ns-table td {
  background-color: #eeeeee;
  padding: 2px 8px;
  border: 1px solid #ffffff;
}

.ns-table input {
  width: 4.0em;
}

#doc-tree {
  border: 1px solid #cccccc;
  border-radius: 0.2em;
  background-color: #f4f4f4;
  margin: 2.4em 0;
  padding: 1.1em;
}

span.element, span.text, span.comment {
  padding: 2px;
  line-height: 1.5;
}

.tag-name {
  color: #062873;
  font-weight: bold;
}

.attr-name {
  color: #4070A0;
  font-weight: bold;
}

.attr-value {
  color: #4070A0;
}

.comment {
  color: #7f7f7f;
  font-style: italic;
}

.xp-match {
  background-color: #ffffcc;
  outline: 1px solid #ddddaa;
  margin-top: 2px;
  z-index: -1;
}

.xp-match > span {
  background-color: #ffffcc;
  position: relative;
}

.xp-match > span:hover {
  background-color: #e0ffc5;
}

.xp-match:hover > .element > .tag-name {
  color: #880000;
}

.not-implemented {
  color: #ff0000;
  background-color: #ffcccc;
}

@media only screen and (max-width: 800px) {

  #query-xpath {
    width: calc(100% - 1em);
  }

}
