body {
  font-family: sans-serif;
  margin: 0;
  padding: 6.5em 3em;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  color: #eeeeee;
  background-color: #333333;
  padding: 0.5em 3em;
}

#navbar h1 {
  float: left;
  color: #2c2c2c;
  opacity: 0.8;
  margin: 0.2em 0;
  padding: 0;
  white-space: nowrap;
  text-shadow: -1px -1px 1px rgba(255,255,255,0.13), 1px 1px 1px rgba(0,0,0,0.9);
  transition: opacity 0.3s;
}

#navbar:hover h1 {
  opacity: 1.0;
}

#links {
  position: absolute;
  right: 3em;
  list-style: none;
}

#links a {
  display: block;
  padding: 3px 6px;
  border-radius: 3px;
  color: #888888;
  text-decoration: none;
  outline: none;
}

#links a:hover {
  background-color: #4080b0;
  color: #eeeeee;
}

#query-xpath {
  font-size: 150%;
  width: calc(100% - 10em);
  padding: 4px 10px 3px;
  border: 1px solid #cccccc;
  border-radius: 0.1em;
}

#query-xpath:focus {
  background-color: #ffffdd;
}

#buttons {
  display: inline-block;
  vertical-align: bottom;
}

#buttons input {
  font-size: 130%;
  background-color: #062873;
  color: #eeeeee;
  border: none;
  border-radius: 0.15em;
  font-weight: bold;
  padding: 5px 7px;
  margin-top: 0.2em;
}

#message-box {
  margin: 2.4em 0;
  border-radius: 0.2em;
}

#message-box.error {
  padding: 0.5em 1em;
  border: 1px solid #ddaaaa;
  background-color: #ffcccc;
  color: #aa3333;
}

#message-box.success {
  padding: 0.5em 1em;
  border: 1px solid #aaddaa;
  background-color: #ccffcc;
  color: #227722;
}

#doc-tree {
  border: 1px solid #cccccc;
  border-radius: 0.2em;
  background-color: #f4f4f4;
  margin: 2.4em 0;
  padding: 1.1em;
}

span.element, span.text, span.comment {
  padding: 2px;
  line-height: 1.5;
}

.tag-name {
  color: #062873;
  font-weight: bold;
}

.attr-name {
  color: #4070A0;
  font-weight: bold;
}

.attr-value {
  color: #4070A0;
}

.comment {
  color: #7f7f7f;
  font-style: italic;
}

.xp-match {
  background-color: #ffffcc;
  outline: 1px solid #ddddaa;
  margin-top: 2px;
  z-index: -1;
}

.xp-match > span {
  background-color: #ffffcc;
  position: relative;
}

.xp-match > span:hover {
  background-color: #e0ffc5;
}

.xp-match:hover > .element > .tag-name {
  color: #880000;
}

.not-implemented {
  color: #ff0000;
  background-color: #ffcccc;
}

@media only screen and (max-width: 800px) {

  #query-xpath {
    width: calc(100% - 1em);
  }

}
