.document a:hover,
footer a:hover {
  color: #2980B9;
  border-bottom: 1px dotted #2980B9;
}

.document a:visited,
footer a:visited {
  color: #203d90;
}

.document p tt.literal,
.document li tt.literal {
  border: none;
  color: #D11A1A;
  background-color: transparent;
  padding: 0 2px;
  font-size: 80%;
  font-weight: bold;
}

.document p a tt.literal,
.document li a tt.literal {
  color: inherit;
}

a.metacpan {
  padding-left: 14px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAABmJLR0QAyAAiADOkP+v9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AMZBR8BDLcvBAAAAF5JREFUGNPdkDEOgCAMRR/Ek+gRJGGR09tBE67AWeoCSiqDs29p+tI0v3WqyrmEHdgAiSUnKta7Y16baEgsOXWDt/dG0PUv7wExUkx9NteM0kcAGHmnqnxlGl39p29cAMtI1xYxiDcAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 2px 5px;
}

.wy-nav-side .custom-sidebar {
  margin-top: 50px;
  padding: 0.8em 1.6em;
  border-top: 1px solid #444444;
}

.wy-nav-side .custom-sidebar h3 {
  display: none;
}

.wy-nav-side .custom-sidebar a,
.wy-nav-side .custom-sidebar a:visited {
  color: #b3b3b3;
}

.wy-nav-side .custom-sidebar a:hover {
  color: #2980B9;
}

.cc-img {
  margin: 10px 0px 40px 0;
}

.highlight-xml {
  max-height: 60vh;
  overflow-y: auto;
}
.xpath,
.xpath-try {
  display: block;
  margin-top: 2.4em;
  font-size: 120%;
  padding: 0.3em;
}

a.xpath-try-it {
  display: inline-block;
  float: right;
  color: #ffffff;
  background-color: #4c9ed9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  padding: 4px 8px 3px 8px;
  text-align: center;
  text-transform: uppercase;
  margin: 3px 4px 0 16px;
}

.xpath-try a.xpath-try-it {
  text-decoration: none;
}

.xpath-try-it:focus {
  background-color: #d12828;
}

.xpath-try:hover .xpath-try-it {
  background-color: #4080b0;
}

#xpath-expressions > blockquote {
  margin: 0;
}

.document p tt.literal.xpath,
.document p tt.literal.xpath-try {
  border: 1px solid #e1e1e5;
  border-radius: 3px;
  background-color: #fafafa;
  white-space: normal;
  padding: 2px 4px;
}

.document a.xpath-try-it:visited,
.document a.xpath-try-it:hover {
  color: #ffffff;
  text-decoration: none;
  border: none;
}

#a-basic-example .sidebar blockquote {
  font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 1.6em 14px;
}

p.caption {
  text-align: center;
}

.admonition-title {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

ol.arabic.simple li {
  padding-left: 8px;
}
